# Python
__pycache__/
*.py[oc]
*.pyd
build/
dist/
wheels/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# uv
.uv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# DB
*.db
*.sqlite3

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
